.index {
  .presentation {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include desktop {
      height: 200vh;
    }
  }

  .about {
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: #d2cfcf;
      }
    }
  }

  .skills {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    article {
      .boton {
        a {
          text-decoration: none;
          &:hover {
            color: #d2cfcf;
          }
        }
      }
    }
    @include desktop {
      
    }
  }
  .selected-projects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    article {
      .boton {
        a {
          text-decoration: none;
          &:hover {
            color: #d2cfcf;
          }
        }
      }
    }
    @include desktop {
      
    }
  }
  .contact {
    .contacto-encabezado {
      height: 40vh;
      display: flex;
      justify-content: center;
      align-items: center;
      @include desktop {
        height: 60vh;
      }
    }
  }
}
