.navbar {
  background-color: transparent;
  position: sticky;
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  .brand-div {
    .brand {
      font-family: "Libre Franklin";
      &:hover {
        color: inherit;
      }
    }
  }
  .nav-desktop {
    display: none;
    @include desktop {
      width: 25vw;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    .nav-item {
      .nav-link {
        color: #fff;
        &:hover {
          color: #d2cfcf;
        }
      }
      .cv {
        background-color: #363636d6;
        color: #000;
        padding: .7em;
        border: 1px solid #fff;
        border-radius: 11px;
      }
    }
  }

  .menu-mobile {
    
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @include desktop {
      display: none;
    }
    .menu-open {
      background-color: #040404d6;
      width: 100vw;
      height: 100vh;
      .nav-mobile {
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .nav-item {
          .nav-link {
            color: #fff;
            &:hover {
              color: #d2cfcf;
            }
          }
          .cv {
            background-color: #363636d6;
            color: #000;
            padding: .7em;
            border: 1px solid #fff;
            border-radius: 11px;
          }
        }
      }
    }
    .bi {
      font-size: 3em;
    }

    .bi-bi-filter-right {
      
    }

    .bi-x {
     
    }
    
  }
}
