.header{
  .navbar {
    background-color: $color-secondary;
    font-family: $font-secondary;
    @include desktop {
      background-color: rgba(0, 0, 0, 0);
      position: absolute;
      width: 100%;
    }
  }
}
  
